{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div class="product-list-wrapper page-width isolate">
  <ul class="product-list grid">
    {%- for block in section.blocks limit: 4 -%}
      <li class="product-list__item">
        {% render 'card-product',
          card_product: block.settings.product,
          media_aspect_ratio: 'square'
        %}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Product List",
  "tag": "section",
  "class": "section-product-list",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product List",
    }
  ]
}
{% endschema %}
