.container-product-block{
  display: flex;
  gap: 2rem;
  width: 100%;
}
.first-product-block {
  position: relative;
  width: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
 
}

.first-product-block:hover {
  transition: transform 0.3s ease;
  transform: scale(1.02);
}

.second-product-block{
  width: 100%;
  background:black;
  position: relative;
  width: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  background-image: url();
}

.second-product-block:hover{
  transition: transform 0.3s ease;
  transform: scale(1.02);
}

.product-block-content {
  background: rgba(0 0 0 / 50%);
  width: 100%;
  height: 100%;
}

.product-block-content h2 {
  color: #fff;
  text-align: center;
  position: absolute;
  display: flex;
  font-size: 3rem;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
}

.product-block-content .button-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
}

.main-product-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}