.container-small-product-block{
  height: 20rem;
  margin-top: 3rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-small-image-banner h1,h3{
  color:white;
}